@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .loading .form-group.text-wrap {
        height: 300px;
        margin-bottom: 110px
    }
}

.result-paraphrasing .paraphrasing-tool .loading .form-group .result-text {
    opacity: .1
}

.result-paraphrasing .paraphrasing-tool .form-group.submit {
    width: 220px
}

@media screen and (max-width: 1199px) {
    .result-paraphrasing .paraphrasing-tool .form-group.submit {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .form-group.radio-buttons {
        padding: 0
    }

    .result-paraphrasing .paraphrasing-tool .form-group.radio-buttons:after {
        left: 25px
    }
}

.result-paraphrasing .paraphrasing-tool .form-group.radio-buttons .text {
    width: 100%;
    max-width: initial;
    line-height: 38px;
    font-size: 27px
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .form-group.radio-buttons .text {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 0
    }
}

.paraphrasing-tool .form-group.radio-buttons .text a, .result-paraphrasing .paraphrasing-tool .form-group.radio-buttons .text a {
    color: #40ac60
}

.result-paraphrasing .paraphrasing-tool .form-group textarea {
    display: none
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .form-group textarea {
        height: 300px
    }
}

.result-paraphrasing .paraphrasing-tool .form-group .result-text {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .form-group .textarea-wrap.mb-5 {
        padding-bottom: 25px;
        position: relative
    }
}

.result-paraphrasing .paraphrasing-tool .result {
    display: block
}

.result-paraphrasing .paraphrasing-tool .result-text {
    background: #fffdfb;
    border: 1px solid #292929;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    height: 300px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    resize: none;
    line-height: 1.5
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .result-text {
        height: 300px
    }
}

.result-paraphrasing .paraphrasing-tool .result-text b {
    background: #d1f0e5;
    padding: 0;
    font-weight: 400;
    position: relative
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .buttons {
        position: initial;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        margin-top: 0;
        padding: 5px;
        border: 1px solid #292929;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-top: none;
        height: auto
    }

    .result-paraphrasing .paraphrasing-tool .buttons .bottom, .result-paraphrasing .paraphrasing-tool .buttons .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0
    }

    .result-paraphrasing .paraphrasing-tool .buttons div {
        margin-bottom: 0
    }
}

.result-paraphrasing .paraphrasing-tool .buttons .action {
    display: block
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .buttons .action {
        width: 40px;
        margin-bottom: 0;
        margin-left: 5px
    }
}

.result-paraphrasing .paraphrasing-tool .buttons .action:disabled {
    opacity: .5
}

.result-paraphrasing .paraphrasing-tool .buttons .copy-text, .result-paraphrasing .paraphrasing-tool .buttons .download-text button {
    display: block
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .buttons .copy-text {
        width: 40px;
        margin-bottom: 0;
        margin-right: 5px;
        margin-top: 0
    }

    .result-paraphrasing .paraphrasing-tool .buttons .copy-text .tooltip {
        left: -100%
    }

    .result-paraphrasing .paraphrasing-tool .buttons .copy-text .tooltip:before {
        left: 40px
    }
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .buttons .download-text button {
        width: 40px;
        margin-bottom: 0;
        margin-top: 0
    }
}

.result-paraphrasing .paraphrasing-tool .buttons .clear-text {
    display: block
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .buttons .clear-text {
        width: 40px;
        margin-bottom: 0
    }
}

.result-paraphrasing .paraphrasing-tool .buttons .clear-text.active {
    cursor: inherit;
    opacity: .5
}

.result-paraphrasing .paraphrasing-tool .buttons .clear-text.active .tooltip {
    opacity: 0
}

.result-paraphrasing .paraphrasing-tool .words-count {
    top: 0
}

@media screen and (max-width: 1199px) {
    .result-paraphrasing .paraphrasing-tool .words-count {
        margin: 0
    }
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .words-count {
        top: 41px
    }
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 230px;
    background: #fffdfb;
    border: 1px solid #292929;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .08), 0 2px 2px rgba(0, 0, 0, .06);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08), 0 2px 2px rgba(0, 0, 0, .06);
    padding: 5px;
    z-index: 2
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .qtiperar-tooltip {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 999
    }
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #fffdfb;
    border-right: 1px solid #292929;
    border-top: 1px solid #292929;
    position: absolute;
    left: 25px;
    top: -7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .qtiperar-tooltip:before {
        display: none
    }
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip .search {
    position: relative;
    width: 100%
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip .search input {
    width: 100%;
    border: 1px solid #979797;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    height: 38px;
    padding: 0 10px;
    outline: 0
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip .search button {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 58px;
    height: 30px;
    background: #40ac60;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    border: 0
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip span:not(.scrollbar,.close,.search) {
    width: 100%;
    display: block;
    line-height: 38px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip span:not(.scrollbar,.close,.search):hover {
    background: #e7f5f0
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip .close, .result-paraphrasing .paraphrasing-tool .qtiperar-tooltip .close:hover {
    display: block;
    padding: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 5px;
    background-image: url(../img/x.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip .scrollbar {
    max-height: 114px;
    overflow-y: scroll;
    width: 100%
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip .scrollbar::-webkit-scrollbar {
    margin-top: 5px;
    width: 6px
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip .scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 9em;
    -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
    box-shadow: inset 1px 1px 10px #f3faf7
}

.result-paraphrasing .paraphrasing-tool .qtiperar-tooltip .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: gray
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .paraphrasing-tool .download-links a {
        margin-bottom: 0
    }

    .result-paraphrasing .paraphrasing-tool form {
        width: calc(100% + 30px);
        margin: 20px -15px 70px;
        padding: 25px 15px
    }
}

.paraphrasing-tool {
    margin-top: 40px;
    margin-bottom: 70px
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool {
        margin-top: 20px
    }
}

.paraphrasing-tool .result-text-wrap {
    position: relative
}

.paraphrasing-tool .words-count {
    height: 20px;
    padding: 0 10px;
    background: #f5e9da;
    border-radius: 2px;
    display: none;
    line-height: 20px;
    font-size: 14px;
    margin-left: 5px
}

.paraphrasing-tool .words-count.active {
    display: inline-block
}

.paraphrasing-tool .loading .form-group .text-wrap {
    background: #fff;
    opacity: .9;
    height: 300px;
    border: 1px solid #292929;
    border-radius: 2px;
    margin-bottom: 25px
}

.paraphrasing-tool .loading .form-group .text-wrap .svg-loader {
    display: block;
    position: absolute;
    top: 190px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.paraphrasing-tool .loading .form-group .text-wrap textarea {
    opacity: .1;
    background: 0 0
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .wrap {
        max-width: 680px
    }
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool .wrap {
        padding: 0 15px
    }
}

.paraphrasing-tool .h1, .paraphrasing-tool h1 {
    max-width: 1000px;
    color: #000615;
    margin: 0 auto 80px;
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    font-family: "Neo Display", "Arial", sans-serif
}

@media screen and (max-width: 1023px) {
    .paraphrasing-tool .h1, .paraphrasing-tool h1 {
        font-size: 50px;
        line-height: 60px
    }
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool .h1, .paraphrasing-tool h1 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 40px
    }
}

.paraphrasing-tool .h1 span, .paraphrasing-tool h1 span {
    color: #00b057
}

.paraphrasing-tool .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fdfbe0;
    border-radius: 3px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 30px
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .steps {
        margin: 0 auto;
        padding: 30px 40px 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.paraphrasing-tool .steps .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 17px;
    line-height: 18px;
    margin-right: 20px
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .steps .item {
        width: 45%;
        margin: 0 0 30px
    }
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool .steps .item {
        width: 100%
    }
}

.paraphrasing-tool .steps .item:last-of-type {
    margin-right: 0;
    min-width: 125px
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool .steps .item:last-of-type {
        margin-bottom: 0
    }
}

.paraphrasing-tool .steps .item span {
    display: block;
    margin-right: 15px;
    font-family: "Neo Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%
}

.paraphrasing-tool .form-group {
    width: 100%;
    margin-bottom: 25px
}

.paraphrasing-tool .form-group.error .error-message {
    font-size: 13px;
    line-height: 15px;
    color: #e46165;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.paraphrasing-tool .form-group.error textarea, .paraphrasing-tool .form-group.error > input {
    border: 1px solid #f1afb0
}

.paraphrasing-tool .form-group.radio-buttons {
    border-radius: 3px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 600px;
    background: #fcf6ec;
    border: 1px dashed #ccc1b2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 15px;
    position: relative;
    display: none
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .form-group.radio-buttons {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool .form-group.radio-buttons {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 15px 25px 30px
    }
}

.paraphrasing-tool .form-group.radio-buttons:before {
    bottom: -24px;
    left: 2px;
    position: absolute;
    content: "";
    border-top: 1px dashed #ccc1b2;
    background: #fdfaf6;
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
    width: 20px;
    height: 20px;
    z-index: 2
}

.paraphrasing-tool .form-group.radio-buttons:after {
    width: 10px;
    height: 15px;
    bottom: -15px;
    position: absolute;
    content: "";
    border: 1px dashed #ccc1b2;
    border-top: none;
    background: #fcf6ec;
    z-index: 1
}

.paraphrasing-tool .form-group.radio-buttons .text {
    width: 100%;
    max-width: initial;
    line-height: 38px;
    font-size: 27px
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .form-group.radio-buttons .text {
        font-size: 24px
    }
}

.paraphrasing-tool .form-group.textarea-wrap.mb-5 {
    margin-bottom: 5px
}

.paraphrasing-tool .form-group.text-wrap .svg-loader {
    display: none
}

.paraphrasing-tool .form-group.submit {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .form-group.submit {
        margin-top: 2px;
        width: 100%
    }
}

@media screen and (max-width: 1023px) {
    .paraphrasing-tool .form-group.submit {
        margin: 2px 0 0
    }
}

.paraphrasing-tool .form-group.submit .button {
    width: 220px
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .form-group.submit .button {
        width: 100%
    }
}

.paraphrasing-tool .form-group textarea, .paraphrasing-tool .form-group > .input {
    width: 100%;
    background: #fffdfb;
    border: 1px solid #292929;
    border-radius: 2px;
    height: 50px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    font-family: "Gilroy", "Arial", sans-serif
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool .form-group > .input {
        height: auto
    }
}

.paraphrasing-tool .form-group textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    height: 300px;
    display: block
}

.paraphrasing-tool .form-group .text {
    max-width: 135px;
    font-size: 16px;
    line-height: 20px
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool .form-group .text {
        width: 100%;
        max-width: inherit;
        margin-bottom: 25px;
        text-align: center
    }
}

.paraphrasing-tool .form-group .result-text {
    display: none
}

.paraphrasing-tool form {
    border-radius: 3px;
    background: #fdfaf6;
    margin: 20px auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1115px;
    padding: 50px 90px 40px;
    position: relative
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool form {
        width: 100%;
        margin: 20px 0 70px;
        padding: 50px 80px 25px 25px
    }
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool form {
        padding: 25px 15px
    }
}

.paraphrasing-tool .result {
    display: none;
    width: 100%
}

.paraphrasing-tool .button.black {
    background: #212223;
    color: #fff;
    display: block;
    width: 100%;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    -webkit-box-shadow: 0 2px 11px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    box-shadow: 0 2px 11px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    border-radius: 2px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    border: 0
}

.paraphrasing-tool .button.black:hover {
    background: #424344
}

.paraphrasing-tool .buttons, .paraphrasing-tool .download-links, .paraphrasing-tool form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.paraphrasing-tool .buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    right: 40px;
    top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 300px;
    width: 30px
}

.paraphrasing-tool .buttons .bottom {
    margin-top: auto
}

.paraphrasing-tool .buttons .action {
    width: 30px;
    height: 30px;
    background: #f7f3eb;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    display: none
}

.paraphrasing-tool .buttons .action img, .paraphrasing-tool .buttons .clear-text img, .paraphrasing-tool .buttons .copy-text img, .paraphrasing-tool .buttons .download-text button img, .paraphrasing-tool .download-links a img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.paraphrasing-tool .buttons .download-text {
    position: relative
}

.paraphrasing-tool .buttons .copy-text, .paraphrasing-tool .buttons .download-text button {
    width: 30px;
    height: 30px;
    background: #f7f3eb;
    border-radius: 2px;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    display: none
}

.paraphrasing-tool .buttons .download-text .tooltip {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
    padding: 0 15px;
    top: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: -110px;
    width: 180px;
    height: 65px;
    background: #fdfbe0;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    border-radius: 2px;
    -webkit-transition: all .5s;
    transition: all .5s;
    pointer-events: none
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .buttons .download-text .tooltip {
        left: auto;
        right: -15px
    }
}

.paraphrasing-tool .buttons .download-text .tooltip:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -5px;
    right: 50px;
    background: #fdfbe0
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .buttons .download-text .tooltip:before {
        right: 25px
    }
}

.paraphrasing-tool .buttons .download-text.active .tooltip {
    opacity: 1;
    pointer-events: auto
}

.paraphrasing-tool .buttons .copy-text .tooltip {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
    top: -55px;
    left: 0;
    width: 100px;
    height: 45px;
    background: #fdfbe0;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    border-radius: 2px;
    pointer-events: none;
    -webkit-transition: all .5s;
    transition: all .5s
}

.paraphrasing-tool .buttons .clear-text .tooltip:before, .paraphrasing-tool .buttons .copy-text .tooltip:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: -5px;
    left: 10px;
    background: #fdfbe0
}

.paraphrasing-tool .buttons .clear-text:hover .tooltip, .paraphrasing-tool .buttons .copy-text .tooltip.opened {
    opacity: 1;
    pointer-events: inherit
}

.paraphrasing-tool .buttons .clear-text {
    width: 30px;
    height: 30px;
    background: #f7f3eb;
    border-radius: 2px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    display: none
}

.paraphrasing-tool .buttons .clear-text.active {
    display: block
}

.paraphrasing-tool .buttons .clear-text .tooltip {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: -55px;
    left: 0;
    width: 100px;
    height: 45px;
    background: #fdfbe0;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    border-radius: 2px;
    pointer-events: none;
    -webkit-transition: all .5s;
    transition: all .5s
}

.paraphrasing-tool .buttons .close-tooltip {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px
}

.paraphrasing-tool .download-links {
    width: 140px
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .download-links {
        margin-top: 10px
    }
}

.paraphrasing-tool .download-links a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: 0 0;
    border-radius: 2px;
    cursor: pointer;
    position: relative
}

.paraphrasing-tool .download-links a img {
    height: 34px
}

.paraphrasing-tool .links-wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative
}

@media screen and (max-width: 767px) {
    .paraphrasing-tool .words-count-wrap {
        position: absolute;
        bottom: 0
    }
}

.modal-attempt .modal-content {
    width: 450px;
    background: #faf4e0;
    padding: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    margin: 0 auto;
    position: relative;
    text-align: center
}

@media screen and (max-width: 767px) {
    .modal-attempt .modal-content {
        width: calc(100% - 20px);
        padding: 10px
    }
}

.modal-attempt .modal-content .close {
    position: absolute;
    right: 10px;
    top: 10px
}

.modal-attempt .modal-content h3 {
    font-size: 35px;
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 500
}

@media screen and (max-width: 767px) {
    .modal-attempt .modal-content h3 {
        font-size: 20px
    }
}

.modal-attempt .modal-content .title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px
}

@media screen and (max-width: 767px) {
    .modal-attempt .modal-content .title {
        font-size: 20px
    }
}

.modal-attempt .modal-content p {
    font-size: 16px;
    font-weight: 400;
    margin: 0
}

@media screen and (max-width: 767px) {
    .modal-attempt .modal-content p {
        font-size: 14px
    }
}

.modal-attempt .modal-content .button {
    width: 260px;
    margin: 20px auto 0
}

@media screen and (max-width: 767px) {
    .delete-active .paraphrasing-tool form .buttons {
        position: initial;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        margin-top: 0;
        padding: 5px;
        border: 1px solid #292929;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-top: none;
        height: auto
    }
}
