.result-text {
    background: #fffdfb;
    border: 1px solid #292929;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    height: 300px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    resize: none;
    line-height: 1.5;
}

.result-text b {
    background: #D1F0E5;
    padding: 0;
    font-weight: normal;
    position: relative;
}

.result-text b .qtiperar-tooltip.opened {
    display: flex;
}

.result-text b .qtiperar-tooltip {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 150%;
    left: 0;
    width: 230px;
    background: #FFFDFB;
    border: 1px solid #292929;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.06);
    padding: 5px;
    z-index: 2;
}

.result-text b .qtiperar-tooltip:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #FFFDFB;
    border-right: 1px solid #292929;
    border-top: 1px solid #292929;
    position: absolute;
    left: 25px;
    top: -7px;
    transform: rotate(-45deg);
}

.result-text b .qtiperar-tooltip span:not(.scrollbar, .close, .search) {
    width: 100%;
    display: block;
    line-height: 38px;
    padding: 0 10px;
    box-sizing: border-box;
}

.result-text b .qtiperar-tooltip span:not(.scrollbar, .close, .search):hover {
    background: #E7F5F0;
}

.result-text b .qtiperar-tooltip .search {
    position: relative;
    width: 100%;
}

.form .form-group textarea {
    height: 300px;
}

.result-text b .qtiperar-tooltip .search input {
    width: 100%;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 2px;
    height: 38px;
    padding: 0 10px;
    outline: none;
}

.result-text b .qtiperar-tooltip .search button {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 58px;
    height: 30px;
    background: #40AC60;
    box-sizing: border-box;
    transform: translateY(-50%);
    color: #ffffff;
    border: none;
}

.result-text b .qtiperar-tooltip .close,
.result-text b .qtiperar-tooltip .close:hover {
    display: block;
    padding: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url("../img/x.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.result-paraphrasing .form .form-group textarea {
    display: none;
}

.form .form-group .result-text {
    display: none;
}

.result-paraphrasing .form .form-group .result-text {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.result-text b .qtiperar-tooltip.right-to-left {
    left: auto;
    right: 0;
}

.result-text b .qtiperar-tooltip.right-to-left:before {
    right: 25px;
    left: auto;
}

.result-text b .qtiperar-tooltip.move-to-top {
    top: 30px;
    right: -50px;
}

.result-text b .qtiperar-tooltip.bottom-to-top {
    top: -50%;
    transform: translateY(-100%);
}

.result-text b .qtiperar-tooltip.bottom-to-top:before {
    right: auto;
    left: 25px;
    top: auto;
    bottom: -7px;
    transform: rotate(135deg);
}

.result-text b .qtiperar-tooltip.bottom-to-top.right-to-left:before {
    right: 25px;
    left: auto;
}

.form form {
    position: relative;
}

.form form .buttons {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 40px;
    top: 50px;
    width: 30px;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
}

/*.result-paraphrasing .form form .buttons {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    position: absolute;*/
/*    right: 40px;*/
/*    top: 50px;*/
/*    width: 30px;*/
/*    justify-content: space-between;*/
/*    flex-direction: column;*/
/*    height: 300px;*/
/*}*/

.buttons .clear-text,
.buttons .action,
.buttons .copy-text,
.buttons .download-text {
    display: none;
}

.buttons .clear-text.active {
    display: block;
}

.result-paraphrasing .buttons .clear-text,
.result-paraphrasing .buttons .action,
.result-paraphrasing .buttons .copy-text,
.result-paraphrasing .buttons .download-text {
    display: block;
}

.result-paraphrasing .buttons .clear-text.active {
    cursor: inherit;
    opacity: .5;
}

.form form .buttons .bottom {
    margin-top: auto;
}

.clear-text {
    width: 30px;
    height: 30px;
    background: #F7F3EB;
    border-radius: 2px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.copy-text, .download-text {
    width: 30px;
    height: 30px;
    background: #F7F3EB;
    border-radius: 2px;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
}

.copy-text .tooltip {
    position: absolute;
    display: flex;
    opacity: 0;
    align-items: center;
    font-size: 13px;
    text-align: center;
    top: -55px;
    left: 0;
    width: 100px;
    height: 45px;
    background: #FDFBE0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    pointer-events: auto;
    transition: all .5s;
}

.copy-text .tooltip.opened {
    opacity: 1;
}

.copy-text .tooltip:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    bottom: -5px;
    left: 10px;
    background: #FDFBE0;
}

.clear-text img, .copy-text img, .download-text img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.action {
    width: 30px;
    height: 30px;
    background: #F7F3EB;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.action img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result-text b .qtiperar-tooltip .scrollbar {
    max-height: 114px;
    overflow-y: scroll;
    width: 100%;
}

.result-text b .qtiperar-tooltip .scrollbar::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
    margin-top: 5px;
    width: 6px;
}

.result-text b .qtiperar-tooltip .close, .result-text b .qtiperar-tooltip .close:hover {
    right: 15px;
}

.result-text b .qtiperar-tooltip .scrollbar::-webkit-scrollbar-thumb {
    background-color: #979797;
    border-radius: 3px;
    width: 6px;
    box-shadow: none;
}

.form .loading .form-group.text-wrap {
    background: white;
    opacity: .9;
    height: 300px;
    border: 1px solid #292929;
    border-radius: 2px;
    position: relative;
    margin-bottom: 85px;
}

.form .form-group.text-wrap .svg-loader {
    display: none;
}

.form .loading .form-group.text-wrap .svg-loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form .loading .form-group.text-wrap textarea {
    opacity: .1;
    background: transparent;
}

.download-links {
    display: none;
    text-align: right;
    margin-top: 20px;
}

.download-links.active {
    display: block;
}

.result-paraphrasing .form .loading .form-group .result-text {
    opacity: .1;
}

.links-wrap {
    justify-content: space-between;
}

.download-links a {
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    background: #F7F3EB;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.download-links a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
}

.words-count {
    height: 30px;
    padding: 0 10px;
    background: #F5E9DA;
    border-radius: 2px;
    display: none;
    line-height: 30px;
    margin-top: 20px;
}

.words-count.active {
    display: inline-block;
}

.form.paraphrasing-tool .form-group.radio-buttons {
    display: none;
    width: 600px;
}

.form.paraphrasing-tool .form-group.radio-buttons .text {
    width: 100%;
    max-width: initial;
    line-height: 38px;
    font-size: 27px;
}

.form.paraphrasing-tool .form-group.radio-buttons .text a {
    color: #40AC60;
}

@media screen and (max-width: 1199px) {
    .form form.paraphrasing_tool {
        width: 100%;
        margin: 20px 0 70px;
        padding: 50px 80px 25px 25px;
    }
    .form form.paraphrasing_tool .form-group.submit,
    .form form.paraphrasing_tool .form-group.submit button {
        width: 100%;
    }
    .download-links {
        margin-top: 10px;
    }
    .words-count {
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
    .form.paraphrasing-tool .form-group.radio-buttons .text {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 0;
    }
    .form form.paraphrasing_tool {
        width: calc(100% + 30px);
        margin: 20px -15px 70px;
        padding: 25px 15px;
    }
    .form .form-group textarea, .result-text, .form .loading .form-group.text-wrap {
        height: 300px;
    }
    .form .loading .form-group.text-wrap {
        margin-bottom: 110px;
    }
    .result-paraphrasing .form form .buttons {
        position: inherit;
        flex-direction: row;
        width: 100%;
        height: 30px;
        margin-top: 5px;
    }
    .result-paraphrasing .form form .buttons .top,
    .result-paraphrasing .form form .buttons .bottom {
        display: flex;
        margin: 0;
    }
    .result-paraphrasing .form form .buttons .top .action {
        margin-left: 5px;
    }
    .result-paraphrasing .form form .buttons .bottom .copy-text {
        margin-right: 5px;
        margin-top: 0;
    }
    .result-paraphrasing .form form .buttons .bottom .download-text {
        margin-top: 0;
    }
    .copy-text .tooltip {
        left: -100%;
    }
    .copy-text .tooltip:before {
        left: 40px;
    }
    .download-links a {
        margin-bottom: 0;
    }
}
