.flex__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrap {
    min-width: 320px;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
}

.paraphrasing-tool {
    margin-top: 40px;
    margin-bottom: 70px;
}

.paraphrasing-tool .h1, .paraphrasing-tool h1  {
    max-width: 1000px;
    color: #000615;
    margin: 0 auto 80px;
    text-align: center;
    font-size: 56px;
    line-height: 66px;
    font-family: 'Neo Display', 'Arial', sans-serif;
}

.paraphrasing-tool .h1 span, .paraphrasing-tool h1 span {
    color: #00b057;
}

.paraphrasing-tool .steps,
.paraphrasing-tool .steps .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.paraphrasing-tool .steps {
    padding: 30px 120px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fdfbe0;
    border-radius: 3px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.paraphrasing-tool .steps .item {
    margin-right: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 17px;
    line-height: 18px;
}

.paraphrasing-tool .steps .item span {
    display: block;
    margin-right: 15px;
    font-family: 'Neo Display', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
}

.paraphrasing-tool .steps .item:last-of-type {
    margin-right: 0;
    min-width: 125px;
}

.paraphrasing-tool .form-group.radio-buttons, .paraphrasing-tool form {
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.paraphrasing-tool form {
    background: #fdfaf6;
    margin: 20px auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1115px;
    padding: 50px 90px 40px;
}

.result {
    display: none;
    width: 100%;
}

.paraphrasing-tool .form-group {
    width: 100%;
    margin-bottom: 25px;
}

.paraphrasing-tool .form-group > .input {
    width: 100%;
    background: #fffdfb;
    border: 1px solid #292929;
    border-radius: 2px;
    height: 50px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    font-family: 'Gilroy', 'Arial', sans-serif;
}

.paraphrasing-tool .form-group textarea {
    width: 100%;
    background: #fffdfb;
    border: 1px solid #292929;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    height: 205px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    resize: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
}

.paraphrasing-tool .form-group.error textarea,
.paraphrasing-tool .form-group.error > input {
    border: 1px solid #f1afb0;
}

.paraphrasing-tool .form-group.error .error-message {
    font-size: 13px;
    line-height: 15px;
    color: #e46165;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.paraphrasing-tool .form-group.radio-buttons {
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.paraphrasing-tool .form-group.radio-buttons {
    width: 600px;
    background: #fcf6ec;
    border: 1px dashed #ccc1b2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 15px;
    position: relative;
}

.paraphrasing-tool .form-group.submit {
    width: 100%;
    display: flex;
    justify-content: end;
}

.paraphrasing-tool .form-group.submit .button {
    width: 220px;
}

.paraphrasing-tool .form-group.radio-buttons:before {
    bottom: -24px;
    left: 2px;
    position: absolute;
    content: '';
    border-top: 1px dashed #ccc1b2;
    background: #fdfaf6;
    -webkit-transform: rotate(
        55deg);
    transform: rotate(
        55deg);
    width: 20px;
    height: 20px;
    z-index: 2;
}

.paraphrasing-tool .form-group.radio-buttons:after {
    width: 10px;
    height: 15px;
    bottom: -15px;
    position: absolute;
    content: '';
    border: 1px dashed #ccc1b2;
    border-top: none;
    background: #fcf6ec;
    z-index: 1;
}

.button.black {
    background: #212223;
    color: #fff;
    display: block;;
    width: 100%;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    -webkit-box-shadow: 0 2px 11px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    box-shadow: 0 2px 11px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    border-radius: 2px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    border: 0;
}

.button.black:hover {
    background: #424344;
}

.paraphrasing-tool .form-group.radio-buttons {
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 600px;
    background: #fcf6ec;
    border: 1px dashed #ccc1b2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 15px;
    position: relative;
}

.paraphrasing-tool .form-group .text {
    max-width: 135px;
    font-size: 16px;
    line-height: 20px;
}

.paraphrasing-tool .form-group .radio-inline {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 17px;
    position: relative;
}

.paraphrasing-tool .form-group .radio-inline [type=radio] {
    display: none;
}

.paraphrasing-tool .form-group .radio-inline span {
    position: relative;
    width: 24px;
    display: block;
    margin-right: 7px;
}

.paraphrasing-tool .form-group .radio-inline span:after,
.paraphrasing-tool .form-group .radio-inline span:before {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    content: '';
    -webkit-transition: all .5s;
    transition: all .5s;
}

.paraphrasing-tool .form-group .radio-inline span:before {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fffdf9;
    border: 1px solid #292929;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    width: 24px;
    height: 24px;
}

.paraphrasing-tool .form-group .radio-inline [type=radio]:checked + span:before {
    border: 1px solid #40ac60;
}

.paraphrasing-tool .form-group .radio-inline [type=radio]:checked + span:after {
    opacity: 1;
}

.paraphrasing-tool  .form-group .radio-inline [type=text] {
    width: 135px;
    background: #fffdfb;
    border: 1px solid #292929;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    height: 36px;
    padding: 0 10px;
    outline: 0;
    font-family: 'Gilroy', 'Arial', sans-serif;
}


.paraphrasing-tool .form-group .radio-inline span:after {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background: #40ac60;
    opacity: 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background-color: #fefefe;
    opacity: 0;
    display: none;
    transition: all 0.5s;
}

.loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.result-generator .result {
    display: block;
}

.paraphrasing-tool .h2, .paraphrasing-tool h2 {
    font-size: 44px;
    line-height: 56px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: 'Neo Display', 'Arial', sans-serif;
}

.paraphrasing-tool .summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px auto 50px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.paraphrasing-tool .summary .item {
    width: calc((100% - 30px) / 3);
    background: #fff;
    border: 1px solid #d2cbc1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 18px;
}

.paraphrasing-tool .form-group > input:disabled {
    background: #fdfaf6;
    font-size: 22px;
    border: 1px solid #d2cbc1;
}

.paraphrasing-tool .summary .item span {
    color: #636874;
}

.result-generator .paraphrasing-tool  .form-group.radio-buttons .text {
    width: 100%;
    max-width: initial;
    line-height: 38px;
    font-size: 27px;
}

.result-generator .paraphrasing-tool .form-group.radio-buttons .text a {
    color: #40AC60;
}

.result-generator .paraphrasing-tool .form-group.radio-buttons label {
    display: none;
}

.conclusion-generator-banner {
    padding: 70px 0;
}

.conclusion-generator-banner .h2, .conclusion-generator-banner h2 {
    margin-bottom: 0;
    text-align: center;
    font-size: 44px;
    line-height: 56px;
    font-family: 'Neo Display', 'Arial', sans-serif;
    margin-top: 0;
    font-weight: 500;
}

.conclusion-generator-banner p {
    margin: 0 auto;
    text-align: center;
    max-width: 680px;
    line-height: 24px;
}

.button.green {
    background: #40ac60;
    color: #fff;
    margin: 30px auto 0;
    width: 220px;
    display: block;
}

.button.green:hover {
    background: #5cc97d;
    text-decoration: underline;
}

.conclusion-generator-text .wrap {
    padding: 40px 80px;
    border-top: 1px solid #d9d9d9;
}

.conclusion-generator-text .h1, .conclusion-generator-text h1 {
    margin: 0 auto 40px;
    text-align: center;
    font-size: 56px;
    line-height: 66px;
    font-family: 'Neo Display', 'Arial', sans-serif;
}

.conclusion-generator-text .content {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 110px;
    -moz-column-gap: 110px;
    column-gap: 110px;
}

.conclusion-generator-text p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 30px;
}

.conclusion-generator-text .h2, .conclusion-generator-text h2 {
    font-family: 'Neo Display', 'Arial', sans-serif;
    font-size: 38px;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500;
}

.conclusion-generator-text a {
    color: #40ac60;
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.conclusion-generator-text ul {
    padding: 0;
    margin-bottom: 30px;
}

.conclusion-generator-text ul li {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 28px;
}

.conclusion-generator-text ul li:before {
    background: url(../img/checker.svg);
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 20px;
}

.ideal-match {
    margin: 70px auto;
}

.mt-0 {
    margin-top: 0;
}

.ideal-match .conclusion-generator-prices {
    padding-top: 100px;
    position: relative;
}

.ideal-match .subtitle {
    font-family: 'Neo Display', 'Arial', sans-serif;
    font-size: 100px;
    color: #f3efe9;
    position: absolute;
    left: 50%;
    top: 25px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.ideal-match .conclusion-generator-prices .title {
    text-align: center;
    font-size: 44px;
    line-height: 56px;
    font-family: 'Neo Display', 'Arial', sans-serif;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}

.ideal-match .conclusion-generator-prices .title > span {
    background: #fdfbe0;
    border-radius: 3px;
    display: inline-block;
    padding: 0 13px;
    height: 56px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 56px;
}

.ideal-match .conclusion-generator-prices .title > span span:not(.per-page) {
    font-size: 44px;
}

.ideal-match .conclusion-generator-prices .title > span .per-page {
    color: #585e6b;
}

.ideal-match .h1, .ideal-match h1 {
    max-width: 650px;
    margin: 0 auto 50px;
    text-align: center;
    font-size: 56px;
    line-height: 66px;
    font-family: 'Neo Display', 'Arial', sans-serif;
}

.ideal-match .steps {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ideal-match .steps:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-image: url(../img/plus.png);
    background-size: contain;
}

.ideal-match .steps, .ideal-match .steps .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ideal-match .steps .item {
    width: calc(50% - 30px);
    background: #fdfaf6;
    border-radius: 3px;
    padding: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ideal-match .steps .item img {
    height: 130px;
    margin-right: 35px;
}

.ideal-match .steps .item .title {
    font-size: 27px;
    line-height: 33px;
    max-width: 250px;
}

.ideal-match .steps .item p {
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 28px;
}

.mb-0 {
    margin-bottom: 0;
}

.ratting {
    margin: 70px auto;
}

.ratting .wrap {
    height: 37px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ratting .title {
    font-size: 20px;
    line-height: 24px;
}

.ratting .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px;
    margin-right: 5px;
}

.ratting .stars label {
    width: 20px;
    height: 20px;
    background-image: url(../img/Star_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.ratting .stars label.active {
    background-image: url(../img/Star.svg);
}

.result-paraphrasing .paraphrasing-tool .form-group.submit {
    width: 220px;
}

@media screen and (max-width: 1199px) {
    .paraphrasing-tool .form-group.submit .button {
        width: 100%;
    }
    .result-paraphrasing .paraphrasing-tool .form-group.submit {
        width: 100%;
    }
    .ideal-match .steps .item:first-of-type {
        margin-bottom: 40px;
    }
    .ideal-match .steps .item {
        width: 100%;
    }
    .ideal-match .wrap {
        max-width: 680px;
    }
    .conclusion-generator-text .wrap {
        max-width: 680px;
        padding: 40px 0 10px;
    }
    .conclusion-generator-text .content {
        -webkit-column-count: inherit;
        -moz-column-count: inherit;
        column-count: inherit;
    }
    .paraphrasing-tool .summary .item {
        font-size: 14px;
    }
    .paraphrasing-tool .wrap {
        max-width: 680px;
    }
    .paraphrasing-tool .steps {
        margin: 0 auto;
        padding: 30px 40px 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .paraphrasing-tool .steps .item {
        width: 45%;
        margin: 0 0 30px;
    }
    .paraphrasing-tool form {
        width: calc(100% + 30px);
        margin: 20px -15px 70px;
        padding: 50px 25px 25px;
    }
    .paraphrasing-tool .form-group.radio-buttons {
        width: 100%;
    }
    .paraphrasing-tool .form-group.submit {
        margin-top: 2px;
    }
}

@media screen and (max-width: 1023px) {
    .conclusion-generator-text .h1, .conclusion-generator-text h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .paraphrasing-tool .form-group.submit {
        width: 100%;
        margin: 2px 0 0 0;
    }
    .paraphrasing-tool .h1, .paraphrasing-tool h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .paraphrasing-tool .summary .item {
        padding: 0 25px;
        line-height: 1.3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}

@media screen and (max-width: 767px) {
    .ideal-match .h1, .ideal-match h1 {
        margin-bottom: 30px;
        font-size: 34px;
        line-height: 40px;
    }
    .ideal-match .steps {
        margin-bottom: 0;
    }
    .ideal-match .steps .item:first-of-type {
        margin-bottom: 40px;
    }
    .ideal-match .steps .item {
        padding: 15px 10px;
    }
    .ideal-match .steps .item img {
        height: 90px;
        margin-right: 15px;
    }
    .ideal-match .steps .item .title {
        font-size: 22px;
        line-height: 28px;
    }
    .ideal-match .steps:before {
        top: 47%;
    }
    .ideal-match .wrap {
        padding: 0 15px;
    }
    .ideal-match .conclusion-generator-prices {
        padding-top: 70px;
    }
    .ideal-match .subtitle {
        font-size: 60px;
    }
    .ideal-match .conclusion-generator-prices .title {
        font-size: 28px;
        line-height: 32px;
        max-width: 310px;
        margin: 0 auto;
    }
    .ideal-match .conclusion-generator-prices .title > span {
        font-size: 22px;
        line-height: 32px;
        height: 32px;
    }
    .ideal-match .conclusion-generator-prices .title > span span:not(.per-page) {
        font-size: 28px;
        line-height: 32px;
    }
    .ideal-match .button {
        margin-top: 20px;
    }
    .conclusion-generator-text .wrap {
        padding: 40px 15px 10px;
    }
    .conclusion-generator-text .h1, .conclusion-generator-text h1 {
        font-size: 34px;
        line-height: 40px;
    }
    .conclusion-generator-text p {
        margin-bottom: 20px;
    }
    .conclusion-generator-text .h2, .conclusion-generator-text h2 {
        margin-bottom: 15px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 500;
    }
    .conclusion-generator-banner .h2, .conclusion-generator-banner h2 {
        font-size: 38px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .paraphrasing-tool .form-group > input:disabled {
        font-size: 14px;
    }
    .paraphrasing-tool .h2, .paraphrasing-tool h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .paraphrasing-tool .summary {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .paraphrasing-tool .summary .item {
        width: 100%;
        height: 42px;
        display: block;
        text-align: left;
        line-height: 40px;
        margin-bottom: 5px;
    }
    .result-generator .paraphrasing-tool .form-group.radio-buttons .text {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 0;
    }
    .paraphrasing-tool .h1, .paraphrasing-tool h1 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 40px;
    }
    .paraphrasing-tool {
        margin-top: 20px;
    }
    .paraphrasing-tool .wrap {
        padding: 0 15px;
    }
    .paraphrasing-tool .steps .item {
        width: 100%;
    }
    .paraphrasing-tool form {
        padding: 25px 15px;
    }
    .paraphrasing-tool .form-group.radio-buttons {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 15px 25px 30px;
    }
    .paraphrasing-tool .form-group .text {
        width: 100%;
        max-width: inherit;
        margin-bottom: 25px;
        text-align: center;
    }
    .paraphrasing-tool .form-group .radio-inline {
        margin-left: 0;
    }
    .paraphrasing-tool .form-group .radio-inline:last-of-type {
        margin-top: 20px;
        width: 100%;
    }
    .paraphrasing-tool .form-group .radio-inline [type=text] {
        width: 90%;
    }
    .paraphrasing-tool .form-group.radio-buttons:before {
        left: 12px;
    }
    .paraphrasing-tool .form-group > .input {
        height: auto;
    }
}

.result-text {
    background: #fffdfb;
    border: 1px solid #292929;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    height: 300px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    resize: none;
    line-height: 1.5;
}

.result-text b {
    background: #D1F0E5;
    padding: 0;
    font-weight: normal;
    position: relative;
}

.form.paraphrasing-tool .steps {
    padding: 30px;
}

.form.paraphrasing-tool .steps .item {
    margin-right: 20px;
}

.result-text b .qtiperar-tooltip.opened {
    display: flex;
}

.result-text b .qtiperar-tooltip {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 150%;
    left: 0;
    width: 230px;
    background: #FFFDFB;
    border: 1px solid #292929;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.06);
    padding: 5px;
    z-index: 2;
}

.result-text b .qtiperar-tooltip:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #FFFDFB;
    border-right: 1px solid #292929;
    border-top: 1px solid #292929;
    position: absolute;
    left: 25px;
    top: -7px;
    transform: rotate(-45deg);
}

.result-text b .qtiperar-tooltip span:not(.scrollbar, .close, .search) {
    width: 100%;
    display: block;
    line-height: 38px;
    padding: 0 10px;
    box-sizing: border-box;
}

.result-text b .qtiperar-tooltip span:not(.scrollbar, .close, .search):hover {
    background: #E7F5F0;
}

.result-text b .qtiperar-tooltip .search {
    position: relative;
    width: 100%;
}

.form .form-group textarea {
    height: 300px;
}

.result-text b .qtiperar-tooltip .search input {
    width: 100%;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 2px;
    height: 38px;
    padding: 0 10px;
    outline: none;
}

.result-text b .qtiperar-tooltip .search button {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 58px;
    height: 30px;
    background: #40AC60;
    box-sizing: border-box;
    transform: translateY(-50%);
    color: #ffffff;
    border: none;
}

.result-text b .qtiperar-tooltip .close,
.result-text b .qtiperar-tooltip .close:hover {
    display: block;
    padding: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url("../img/x.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.result-paraphrasing .form .form-group textarea {
    display: none;
}

.form .form-group .result-text {
    display: none;
}

.result-paraphrasing .form .form-group .result-text {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.result-text b .qtiperar-tooltip.right-to-left {
    left: auto;
    right: 0;
}

.result-text b .qtiperar-tooltip.right-to-left:before {
    right: 25px;
    left: auto;
}

.result-text b .qtiperar-tooltip.move-to-top {
    top: 30px;
    right: -50px;
}

.result-text b .qtiperar-tooltip.bottom-to-top {
    top: -50%;
    transform: translateY(-100%);
}

.result-text b .qtiperar-tooltip.bottom-to-top:before {
    right: auto;
    left: 25px;
    top: auto;
    bottom: -7px;
    transform: rotate(135deg);
}

.result-text b .qtiperar-tooltip.bottom-to-top.right-to-left:before {
    right: 25px;
    left: auto;
}

.form form {
    position: relative;
}

.form form .buttons {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 40px;
    top: 50px;
    width: 30px;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
}

.buttons .clear-text,
.buttons .action,
.buttons .copy-text,
.buttons .download-text {
    display: none;
}

.buttons .clear-text.active {
    display: block;
}

.result-paraphrasing .buttons .clear-text,
.result-paraphrasing .buttons .action,
.result-paraphrasing .buttons .copy-text,
.result-paraphrasing .buttons .download-text {
    display: block;
}

.result-paraphrasing .buttons .clear-text.active {
    cursor: inherit;
    opacity: .5;
}

.form form .buttons .bottom {
    margin-top: auto;
}

.clear-text {
    width: 30px;
    height: 30px;
    background: #F7F3EB;
    border-radius: 2px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.copy-text, .download-text {
    width: 30px;
    height: 30px;
    background: #F7F3EB;
    border-radius: 2px;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
}

.copy-text .tooltip {
    position: absolute;
    display: flex;
    opacity: 0;
    align-items: center;
    font-size: 13px;
    text-align: center;
    top: -55px;
    left: 0;
    width: 100px;
    height: 45px;
    background: #FDFBE0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    pointer-events: auto;
    transition: all .5s;
}

.copy-text .tooltip.opened {
    opacity: 1;
}

.copy-text .tooltip:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    bottom: -5px;
    left: 10px;
    background: #FDFBE0;
}

.clear-text img, .copy-text img, .download-text img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.action {
    width: 30px;
    height: 30px;
    background: #F7F3EB;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.action img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result-text b .qtiperar-tooltip .scrollbar {
    max-height: 114px;
    overflow-y: scroll;
    width: 100%;
}

.result-text b .qtiperar-tooltip .scrollbar::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
    margin-top: 5px;
    width: 6px;
}

.result-text b .qtiperar-tooltip .close, .result-text b .qtiperar-tooltip .close:hover {
    right: 15px;
}

.result-text b .qtiperar-tooltip .scrollbar::-webkit-scrollbar-thumb {
    background-color: #979797;
    border-radius: 3px;
    width: 6px;
    box-shadow: none;
}

.form .loading .form-group.text-wrap {
    background: white;
    opacity: .9;
    height: 300px;
    border: 1px solid #292929;
    border-radius: 2px;
    margin-bottom: 85px;
}

.form .form-group.text-wrap .svg-loader {
    display: none;
}

.form .loading .form-group.text-wrap .svg-loader {
    display: block;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form .loading .form-group.text-wrap textarea {
    opacity: .1;
    background: transparent;
}

.download-links {
    display: none;
    text-align: right;
    margin-top: 20px;
}

.download-links.active {
    display: block;
}

.result-paraphrasing .form .loading .form-group .result-text {
    opacity: .1;
}

.links-wrap {
    justify-content: space-between;
}

.download-links a {
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    background: #F7F3EB;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.download-links a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
}

.links-wrap {
    position: relative;
}

.words-count {
    height: 25px;
    padding: 0 10px;
    background: #F5E9DA;
    border-radius: 2px;
    display: none;
    line-height: 24px;
    position: absolute;
    top: -3px;
    left: 10px;
    font-size: 14px;
}

.result-paraphrasing .words-count {
    top: 0;
}

.words-count.active {
    display: inline-block;
}

.form.paraphrasing-tool .form-group.radio-buttons {
    display: none;
    width: 600px;
}

.form.paraphrasing-tool .form-group.radio-buttons .text {
    width: 100%;
    max-width: initial;
    line-height: 38px;
    font-size: 27px;
}

.form.paraphrasing-tool .form-group.radio-buttons .text a {
    color: #40AC60;
}

@media screen and (max-width: 1199px) {
    .form form.paraphrasing_tool {
        width: 100%;
        margin: 20px 0 70px;
        padding: 50px 80px 25px 25px;
    }
    .form form.paraphrasing_tool .form-group.submit,
    .form form.paraphrasing_tool .form-group.submit button {
        width: 100%;
    }
    .download-links {
        margin-top: 10px;
    }
    .form.paraphrasing-tool .form-group.radio-buttons .text {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .result-paraphrasing .words-count {
        top: 41px;
    }
    .result-paraphrasing .form form .buttons div {
        margin-bottom: 0;
    }
    .conclusion-generator-banner {
        padding: 70px 15px;
    }
    .ratting .wrap {
        height: auto;
    }
    .form.paraphrasing-tool .form-group.radio-buttons .text {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 0;
    }
    .form form.paraphrasing_tool {
        width: calc(100% + 30px);
        margin: 20px -15px 70px;
        padding: 25px 15px;
    }
    .form .form-group textarea, .result-text, .form .loading .form-group.text-wrap {
        height: 300px;
    }
    .form .loading .form-group.text-wrap {
        margin-bottom: 110px;
    }
    .result-paraphrasing .form form .buttons {
        position: inherit;
        flex-direction: row;
        width: 100%;
        margin-top: 0;
        padding: 5px;
        border: 1px solid #292929;
        box-sizing: border-box;
        border-top: none;
        height: auto;
    }
    .result-paraphrasing .form form .buttons .top,
    .result-paraphrasing .form form .buttons .bottom {
        display: flex;
        margin: 0;
    }
    .result-paraphrasing .form form .buttons .top .action {
        margin-left: 5px;
    }
    .result-paraphrasing .form form .buttons .bottom .copy-text {
        margin-right: 5px;
        margin-top: 0;
    }
    .result-paraphrasing .form form .buttons .bottom .download-text {
        margin-top: 0;
    }
    .copy-text .tooltip {
        left: -100%;
    }
    .copy-text .tooltip:before {
        left: 40px;
    }
    .download-links a {
        margin-bottom: 0;
    }
}
