@font-face {
    font-family: 'Neo Display';
    src: url(/backend/fonts/NoeDisplay-Medium.eot);
    src: url(/backend/fonts/NoeDisplay-Medium.eot?#iefix) format('embedded-opentype'),
    url(/backend/fonts/NoeDisplay-Medium.woff2) format('woff2'),
    url(/backend/fonts/NoeDisplay-Medium.woff) format('woff'),
    url(/backend/fonts/NoeDisplay-Medium.ttf) format('truetype'),
    url(/backend/fonts/NoeDisplay-Medium.svg#NoeDisplay-Medium) format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Display';
    src: url(/backend/fonts/NoeDisplay-Bold.eot);
    src: url(/backend/fonts/NoeDisplay-Bold.eot?#iefix) format('embedded-opentype'),
    url(/backend/fonts/NoeDisplay-Bold.woff2) format('woff2'),
    url(/backend/fonts/NoeDisplay-Bold.woff) format('woff'),
    url(/backend/fonts/NoeDisplay-Bold.ttf) format('truetype'),
    url(/backend/fonts/NoeDisplay-Bold.svg#NoeDisplay-Bold) format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-weight: 400;
    src: url(/backend/fonts/Gilroy-Regular.woff2) format("woff2"),
    url(/backend/fonts/Gilroy-Regular.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-weight: 300;
    src: url(/backend/fonts/Gilroy-Light.woff2) format("woff2"),
    url(/backend/fonts/Gilroy-Light.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-weight: 500;
    src: url(/backend/fonts/Gilroy-Medium.woff2) format("woff2"),
    url(/backend/fonts/Gilroy-Medium.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: italic;
    font-weight: 500;
    src: url(/backend/fonts/Gilroy-MediumItalic.eot);
    src: url(/backend/fonts/Gilroy-MediumItalic.eot#iefix) format("embedded-opentype"),
    url(/backend/fonts/Gilroy-MediumItalic.woff2) format("woff2"),
    url(/backend/fonts/Gilroy-MediumItalic.woff) format("woff"),
    url(/backend/fonts/Gilroy-MediumItalic.ttf) format("truetype"),
    url(/backend/fonts/Gilroy-MediumItalic.svg#Gilroy-MediumItalic) format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url(/backend/fonts/Gilroy-SemiBold.eot);
    src: url(/backend/fonts/Gilroy-SemiBold.eot#iefix) format("embedded-opentype"),
    url(/backend/fonts/Gilroy-SemiBold.woff2) format("woff2"),
    url(/backend/fonts/Gilroy-SemiBold.woff) format("woff"),
    url(/backend/fonts/Gilroy-SemiBold.ttf) format("truetype"),
    url(/backend/fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold) format("svg")
}

html {
    font-size: 16px
}

body {
    font-family: Gilroy, Arial, sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word
}

.container, .wrap {
    min-width: 320px;
    max-width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto
}

.wrap {
    max-width: 1280px
}

@media screen and (max-width: 1199px) {
    .wrap {
        min-width: 320px;
        max-width: 100%;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto
    }
}

.flex__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.IE_class .ideal-match .steps {
    display: block;
    overflow: hidden
}

.IE_class .ideal-match .steps .item:first-of-type {
    float: left
}

.IE_class .ideal-match .steps .item:last-of-type {
    float: right
}

input::-ms-clear {
    display: none
}

.mt-0 {
    margin-top: 0
}

.mb-0 {
    margin-bottom: 0
}

.conclusion-generator-banner {
    padding: 70px 0
}

@media screen and (max-width: 767px) {
    .conclusion-generator-banner {
        padding: 70px 15px
    }
}

.conclusion-generator-banner .h2, .conclusion-generator-banner h2 {
    margin-bottom: 0;
    text-align: center;
    font-size: 44px;
    line-height: 56px;
    font-family: "Neo Display", "Arial", sans-serif;
    margin-top: 0;
    font-weight: 500
}

@media screen and (max-width: 767px) {
    .conclusion-generator-banner .h2, .conclusion-generator-banner h2 {
        font-size: 38px;
        line-height: 40px;
        margin-bottom: 15px
    }
}

.conclusion-generator-banner p {
    margin: 0 auto;
    text-align: center;
    max-width: 680px;
    line-height: 24px
}

.conclusion-generator-text .wrap {
    padding: 40px 80px;
    border-top: 1px solid #d9d9d9
}

@media screen and (max-width: 1199px) {
    .conclusion-generator-text .wrap {
        max-width: 680px;
        padding: 40px 0 10px
    }
}

@media screen and (max-width: 767px) {
    .conclusion-generator-text .wrap {
        padding: 40px 15px 10px
    }
}

.conclusion-generator-text .h1, .conclusion-generator-text h1 {
    margin: 0 auto 40px;
    text-align: center;
    font-size: 56px;
    line-height: 66px;
    font-family: "Neo Display", "Arial", sans-serif
}

@media screen and (max-width: 1023px) {
    .conclusion-generator-text .h1, .conclusion-generator-text h1 {
        font-size: 50px;
        line-height: 60px
    }
}

@media screen and (max-width: 767px) {
    .conclusion-generator-text .h1, .conclusion-generator-text h1 {
        font-size: 34px;
        line-height: 40px
    }
}

.conclusion-generator-text .content {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 110px;
    -moz-column-gap: 110px;
    column-gap: 110px
}

@media screen and (max-width: 1199px) {
    .conclusion-generator-text .content {
        -webkit-column-count: inherit;
        -moz-column-count: inherit;
        column-count: inherit
    }
}

.conclusion-generator-text p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 30px
}

@media screen and (max-width: 767px) {
    .conclusion-generator-text p {
        margin-bottom: 20px
    }
}

.conclusion-generator-text .h2, .conclusion-generator-text h2 {
    font-family: "Neo Display", "Arial", sans-serif;
    font-size: 38px;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500
}

@media screen and (max-width: 767px) {
    .conclusion-generator-text .h2, .conclusion-generator-text h2 {
        margin-bottom: 15px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 500
    }
}

.conclusion-generator-text a {
    color: #40ac60;
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s
}

.conclusion-generator-text ul {
    padding: 0;
    margin-bottom: 30px
}

.conclusion-generator-text ul li {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 28px
}

.conclusion-generator-text ul li:before {
    background: url(../img/checker.svg);
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 20px
}

.ideal-match, .ratting {
    margin: 70px auto
}

@media screen and (max-width: 1199px) {
    .ideal-match .wrap {
        max-width: 680px
    }
}

.ideal-match .conclusion-generator-prices {
    padding-top: 100px;
    position: relative
}

@media screen and (max-width: 767px) {
    .ideal-match .conclusion-generator-prices {
        padding-top: 70px
    }
}

.ideal-match .conclusion-generator-prices .title {
    text-align: center;
    font-size: 44px;
    line-height: 56px;
    font-family: "Neo Display", "Arial", sans-serif;
    margin-bottom: 10px;
    z-index: 2;
    position: relative
}

@media screen and (max-width: 767px) {
    .ideal-match .conclusion-generator-prices .title {
        font-size: 28px;
        line-height: 32px;
        max-width: 310px;
        margin: 0 auto
    }
}

.ideal-match .conclusion-generator-prices .title > span {
    background: #fdfbe0;
    border-radius: 3px;
    display: inline-block;
    padding: 0 13px;
    height: 56px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 56px
}

@media screen and (max-width: 767px) {
    .ideal-match .conclusion-generator-prices .title > span {
        font-size: 22px;
        line-height: 32px;
        height: 32px
    }
}

.ideal-match .conclusion-generator-prices .title > span span:not(.per-page) {
    font-size: 44px
}

@media screen and (max-width: 767px) {
    .ideal-match .conclusion-generator-prices .title > span span:not(.per-page) {
        font-size: 28px;
        line-height: 32px
    }
}

.ideal-match .conclusion-generator-prices .title > span .per-page {
    color: #585e6b
}

.ideal-match .subtitle {
    font-family: "Neo Display", "Arial", sans-serif;
    font-size: 100px;
    color: #f3efe9;
    position: absolute;
    left: 50%;
    top: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1
}

@media screen and (max-width: 767px) {
    .ideal-match .subtitle {
        font-size: 60px
    }
}

.ideal-match .h1, .ideal-match h1 {
    max-width: 650px;
    margin: 0 auto 50px;
    text-align: center;
    font-size: 56px;
    line-height: 66px;
    font-family: "Neo Display", "Arial", sans-serif
}

@media screen and (max-width: 767px) {
    .ideal-match .h1, .ideal-match h1 {
        margin-bottom: 30px;
        font-size: 34px;
        line-height: 40px
    }
}

.ideal-match .steps {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media screen and (max-width: 767px) {
    .ideal-match .steps {
        margin-bottom: 0
    }

    .ideal-match .steps .wrap {
        padding: 0 15px
    }
}

.ideal-match .steps .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 30px);
    background: #fdfaf6;
    border-radius: 3px;
    padding: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-width: 1199px) {
    .ideal-match .steps .item {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    .ideal-match .steps .item {
        padding: 15px 10px
    }
}

@media screen and (max-width: 1199px) {
    .ideal-match .steps .item:first-of-type {
        margin-bottom: 40px
    }
}

.ideal-match .steps .item img {
    height: 130px;
    margin-right: 35px
}

@media screen and (max-width: 767px) {
    .ideal-match .steps .item img {
        height: 90px;
        margin-right: 15px
    }
}

.ideal-match .steps .item .title {
    font-size: 27px;
    line-height: 33px;
    max-width: 250px
}

@media screen and (max-width: 767px) {
    .ideal-match .steps .item .title {
        font-size: 22px;
        line-height: 28px
    }
}

.ideal-match .steps .item p {
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 28px
}

.ideal-match .steps:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-image: url(../img/plus.png);
    background-size: contain
}

@media screen and (max-width: 767px) {
    .ideal-match .steps:before {
        top: 47%
    }
}

@media screen and (max-width: 359px) {
    .ideal-match .steps:before {
        top: 42%
    }
}

@media screen and (max-width: 767px) {
    .ideal-match .button {
        margin-top: 20px
    }

    .ideal-match p {
        max-width: 260px
    }
}

@media screen and (max-width: 767px) {
    .ratting {
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
}

.ratting .wrap {
    height: 37px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-width: 767px) {
    .ratting .wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
        padding: 5px 0;
        min-width: inherit
    }
}

.ratting .title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500
}

@media screen and (max-width: 767px) {
    .ratting .title {
        width: 100%;
        text-align: center
    }
}

.ratting .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px;
    margin-right: 5px
}

@media screen and (max-width: 767px) {
    .ratting .stars {
        margin-left: 0
    }
}

.ratting .stars input {
    display: none;
}

.ratting .stars label {
    width: 20px;
    height: 20px;
    background-image: url(../img/Star_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer
}

.ratting .stars label.active {
    background-image: url(../img/Star.svg)
}

.ideal-match .button.green, .conclusion-generator-banner .button.green {
    color: #fff;
    display: block;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    -webkit-box-shadow: 0 2px 11px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    box-shadow: 0 2px 11px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    border-radius: 2px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    border: 0;
    background: #40ac60;
    margin: 30px auto 0;
    width: 220px;
}

.ideal-match .button.green:hover, .conclusion-generator-banner .button.green:hover {
    background: #5cc97d;
    text-decoration: underline
}
